<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- SETUP -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- STYLE -->
        <link rel="stylesheet" href="/static/style/navbar.css">
        <link rel="stylesheet" href="/static/style/account.css">
        <link rel="stylesheet" href="/static/style/root.css">

        <!-- JAVASCRIPT -->
        <script src="/static/js/accountInfo.js"></script>
        <script src="/static/js/interactivePfpLabel.js"></script>

        <!-- TITLE -->
        <title>Profile - Mathys NOURRY</title>

        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

        <!-- ICONS -->
        <script src="https://kit.fontawesome.com/500432588b.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" data-purpose="Layout StyleSheet" title="Web Awesome" href="/css/app-wa-02670e9412103b5852dcbe140d278c49.css?vsn=d">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-solid.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-regular.css">
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-light.css">

    </head>
    <body>
        <%- include('./navbar.ejs') %>

        <div class="container">
            <div class="split-screen">
                <div class="split-screen-left">
                    <h2 class="titles">My account</h2>
                    <ul class="vertical-nav-list">
                        <li class="vertical-nav-item"><button id="account-details"><i class="fa-solid fa-chevron-right"></i> Details</button></li>
                        <li class="vertical-nav-item"><button id="account-security"><i class="fa-solid fa-chevron-right"></i> Security</button></li>
                    </ul>
                    <ul class="vertical-nav-list-bottom">
                        <li class="vertical-nav-item bottom"><a href="/account/delete"><i class="fa-solid fa-trash"></i> Delete account</a></li>
                    </ul>
                </div>


                <div class="split-screen-right">
                    <div id="category-account-details">
                        <h2 class="titles">Details</h2>
<!--                        <div class="error-message">-->
<!--                            Error: you need to blablabla <br>-->
<!--                        </div>-->

                        <div class="category-screen">
                            <form class="update-account-form" action="/update-account" method="post" enctype="multipart/form-data">
                                <ul class="vertical-list">
                                    <li class="vertical-list-item">
                                        <div class="vertical-list-item-left"><i class="fa-solid fa-image"></i> Profile picture</div>
                                        <div class="vertical-list-item-right">
                                            <img id="profile-picture" src="/static/assets/profile_pictures/testimage.png" alt="profile picture">
                                            <div id="edit-pfp-controls">
                                                <input id="edit-pfp-choose-file" type="file" name="new-pfp">
                                                <label id="edit-pfp-choose-file-label" for="edit-pfp-choose-file"><i class="fa-solid fa-cloud-arrow-up"></i> Choose a file</label>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="vertical-list-item account-personal-info">
                                        <div class="vertical-list-item-left"><i class="fa-solid fa-user"></i> Personal information</div>
                                        <div class="vertical-list-item-right">
                                            <div id="edit-personal-info-controls">
                                                <label class="account-info-label" for="username">Username</label>
                                                <input id="username" name="username" type="text" value="<%= username %>">

                                                <label class="account-info-label" for="firstname">First name</label>
                                                <% if(firstname !== null) { %>
                                                    <input id="lastname" name="lastname" type="text" value="<%= firstname %>">
                                                <% } else { %>
                                                    <input id="lastname" name="lastname" type="text" value="">
                                                <% } %>

                                                <label class="account-info-label" for="lastname">Last name</label>
                                                <% if(lastname !== null) { %>
                                                    <input id="lastname" name="lastname" type="text" value="<%= lastname %>">
                                                <% } else { %>
                                                    <input id="lastname" name="lastname" type="text" value="">
                                                <% } %>

                                                <label class="paccount-info-label" for="phonenumber">Phone number</label>
                                                <% if(phonenumber !== null) { %>
                                                    <input id="phonenumber" name="phonenumber" type="tel" pattern="[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}" value="<%= phonenumber.split('').reduce((a, e, i)=> a + e + (i % 2 === 1 ? ' ' : ''), '').trim(); %>">
                                                <% } else { %>
                                                    <input id="phonenumber" name="phonenumber" type="tel" value="">
                                                <% } %>

                                            </div>
                                        </div>
                                    </li>
                                    <li class="vertical-list-item account-role">
                                        <div class="vertical-list-item-left"><i class="fa-solid fa-gear"></i> Role</div>
                                        <div class="vertical-list-item-right">
                                            <div id="edit-personal-info-controls">
                                                <label class="account-info-label" for="role">Role</label>
                                                <input id="role" name="role" type="text" value="<%= role %>" readonly>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="vertical-list-item account-email-address">
                                        <div class="vertical-list-item-left"><i class="fa-solid fa-envelope"></i> Email address</div>
                                        <div class="vertical-list-item-right">
                                            <div id="edit-personal-info-controls">
                                                <label class="account-info-label" for="role">Email address</label>
                                                <input id="role" name="role" type="text" value="<%= email %>" readonly>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <button id="update-account-submit" type="submit"><i class="fa-solid fa-check"></i> Save</button>
                            </form>
                        </div>
                    </div>
                    <div id="category-account-security">
                        <h2 class="titles">Security</h2>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <p>&copy; 2023 sij's test app. All rights reserved.</p>
        </footer>
    </body>
</html>